#app{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
    height: 600px;

  }



  .first{
    transition: all;
    margin-top: 50px;
    transition: all 2s;
    margin-left: 150px;
    width: 175px;
    height: 80px;
    position: relative;
    left: 0%;



  }
  .second{
    transition: all 2s;
    background-color: rgb(190, 191, 195);
    margin-top: 25px;
    margin-left: 210px;
    width: 115px;
    height: 55px;
    position: relative;
    left: 0%;

  }
